<launch>
  <!--arguments-->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <!--import gazebo empty world-->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_4.launch"/>
  <!--launch gmapping -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" args="slam_methods:=gmapping"/>
  <!--launch lab 3 nodes-->
  <node pkg="rbe3002_lab3" name="path_planner" type="path_planner.py"/>
  <node pkg="rbe3002_lab3" name="nav" type="nav.py"/>
  <node pkg="rbe3002_lab2" name="move" type="move.py"/>
</launch>
